<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Üçüncübinyıl ETicaret</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://kit.fontawesome.com/d739071501.js" crossorigin="anonymous"></script>
    <script src="/modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <partial name="_navbar" />
    <div class="container pageContainer mb-5">
        @if (TempData["message"]!=null)
        {
            <partial name="_resultMessage" model="@(TempData.Get<ResultMessage>("message"))"/>
        }
        @RenderBody()
    </div>
    <script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
