@model ResetPassword
@{
    ViewData["Title"] = "Reset Password";
}

<h1>Reset Password</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="ResetPassword">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="Token" type="hidden" value="@Model.Token" />
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input  asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset Password"  class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
