@model CategoryModel
@{
    ViewData["Title"] = "Create Category";
}
<h1>Create Category</h1>
<hr />
<form asp-controller="Admin" asp-action="CreateCategory" method="POST">
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3 col-md-6 offset-md-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Category Name" />
                <span asp-validation-for="Name"></span>
            </div>
              <div class="mb-3 col-md-9 offset-md-3">
                <button type="submit" class="btn btn-primary">Save Category</button>
            </div>
        </div>
    </div>
</form>
